#productDetails{
    width: 100%;
    /* display: flex; */
}

#productDetails #imageSlider{
    width: 500px;
    height: 500px;
    position: relative;
    background-image: url(../images/products/f1.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#imageSlider #productImage{
    width: 90%;
    height: 100px;
    background: #e3e6f3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 4px 0 4px 0;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}

#productImage img{
    width: 100%;
    object-fit: cover;
    height: 80px;
}

#productImage img.active{
    opacity: 0.5;
}