
#productDetails{
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
}

#productDetails #imageSlider{
    width: 500px;
    height: 500px;
    position: relative;
    background-image: url(../images/products/f1.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#imageSlider #productImages{
    background: #e3e6f3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    height: 100px;
    gap: 10px;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    border-radius: 5px 0 5px 0;
}

#productImages img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px 0 5px 0;
}

#productImages img.active{
    opacity: 0.5;
}

